*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.App{
    background-color: black;
}
.darkMode{
    background-color: white;
}
.Wrap{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
}
.Body{
    width: 100%;
    height: 500px;
    background-color:rgb(221 221 221 / 14%);
    margin-top: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}